<div class="uk-flex uk-flex-center" uk-grid>
  <div class="uk-width-2-3@l">
    <div class="uk-card uk-card-product uk-flex uk-flex-center">
      <img src="assets/product-list/product-2.png">
    </div>
  </div>
  <div class="uk-width-1-3@l">
    <div class="uk-card uk-card-product-details">
      <h1 class="uk-product-name">AMD Ryzen 5 3600 3rd Gen</h1>
      <div class="uk-product-desc" uk-grid>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">star_border</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">star_border</mat-icon>
        </div>
        <div class="uk-text-bottom">
          <h5 class="uk-product-reviews">245 Reviews</h5>
        </div>
      </div>

      <div class="uk-sec-sku"><h4 class="uk-sku">SKU: <span class="uk-sku-name">  100-100000031BOX</span> </h4></div>
      <div class="uk-sec-brand"><h4 class="uk-brand">BRAND: <span class="uk-brand-name">  AMD</span> </h4></div>

      <div class="uk-but-product uk-flex uk-flex-middle">
        <h4 class="uk-quantity">
          Quantity:
          <button style="margin-left: 15px" mat-ripple class="uk-mat-button uk-flex-center"><mat-icon>add</mat-icon></button>
          <h2 class="uk-quantity-text">5 </h2>
          <button mat-ripple class="uk-mat-button uk-flex-center"><mat-icon>remove</mat-icon></button>
        </h4>
      </div>

      <div class="uk-product-but uk-flex uk-flex-middle" uk-margin>
        <button  mat-ripple  class="uk-wishlist uk-text-center "><mat-icon>favorite</mat-icon></button>
        <button mat-ripple class="uk-add-cart"><span class="uk-span">ADD TO CART</span> </button>
      </div>

    </div>
  </div>
</div>
