//COLOR
$primary-color:rgba(23, 29, 76, 1);
$acent-color: rgba(255, 255, 255, 0.05);
$text-color: rgba(255, 255, 255, 1);
$warm-color:rgba(237, 36, 126, 1);


//FONTS
$primary-fonts: 'Lexend', sans-serif;
$secondary-fonts: 'Poppins', sans-serif;


